.containers{
    width: 95%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}
@media only screen and (max-width: 900px) {
    .containers{
        grid-template-columns: repeat(2,1fr);

    }
  }
@media only screen and (max-width: 600px) {
    .containers{
        grid-template-columns: repeat(1,1fr);

    }
  }
